$primary   : #4f46e5;
$secondary : #0d9488;
$accent    : #8b5cf6;

$dark      : #0f172a;
$dark-page : #020617;

$positive  : #059669;
$negative  : #e11d48;
$info      : #0ea5e9;
$warning   : #f59e0b;

$generic-border-radius: 16px;
$button-border-radius: 14px;
$button-padding: 10px 20px;
